body {
    background-color: hsl(225, 100%, 94%);
    margin: 0px;
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 500;
    background-image: url("images/pattern-background-desktop.svg");
    background-repeat: no-repeat;
    background-size: 100%;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 60px;
}

.container > img {
    height: 220px;
    width: 450px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

.full-container {
    position: relative;
    background-color: white;
    width: 410px;
    padding: 50px 20px 30px 20px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.h1-1 {
    margin-top: 0px;
    text-align: center;
    font-weight: 900;
}

.p-1 {
    text-align: center;
    font-size: 16px;
    color: hsl(224, 23%, 55%);
}

.button-1-container {
    background-color: hsl(225, 100%, 98%);
    height: 48px;
    padding: 20px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.annual-plan-container {
    padding-left: 30px;
    float: left;
    padding: 80px;
}

.h2-1 {
    display: inline-block;
    font-weight: 700;
    padding: 0px 0px 5px 0px;
    margin: 0px;
    font-size: 16px;
}

.p-2 {
    display: inline-block;
    padding: 0px 0px;
    margin: 0px;
}

.change-container {
    display: inline-block;
}

.change-button {
    color: hsl(245, 75%, 52%);
}

.change-button:hover {
    color: hsl(223, 47%, 23%);
}

.button-2-container {
    margin: 50px;
    text-align: center;
}

.button-2 {
    box-shadow: 0px 0px 0px 2px #9fb4f2;
	background:linear-gradient(to bottom, #7892c2 5%, #476e9e 100%);
	background-color:#7892c2;
	border-radius:10px;
	border:1px solid #4e6096;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:19px;
	padding:12px 37px;
	text-decoration:none;
	text-shadow:0px 1px 0px #283966;
}

.button-2:hover {
    background:linear-gradient(to bottom, #476e9e 5%, hsl(223, 47%, 23%) 100%);
	background-color:#476e9e;
    background-color: hsl(223, 47%, 23%);
}

.button-3-container {
    margin: 40px;
    text-align: center;
}

.button-3 {
    color: hsl(245, 75%, 52%);
}

.button-3:hover {
    color: hsl(223, 47%, 23%);
}
